<a href="https://colab.research.google.com/github/MpRonald/Machine-Learning/blob/main/Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apriori Algorithm

In [1]:
# install library
!pip install -q apyori

  Building wheel for apyori (setup.py) ... done

In [2]:
# imports
import pandas as pd
from apyori import apriori

In [3]:
market_1 = pd.read_csv('https://raw.githubusercontent.com/MpRonald/datasets/main/mercado.csv', header=None)
market_1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [4]:
transaction = []
for i in range(len(market_1)):
  transaction.append([str(market_1.values[i, j]) for j in range(market_1.shape[1])])

In [5]:
transaction

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [6]:
type(transaction)

list

In [7]:
rules = apriori(transaction, min_support=0.3, min_confidence=0.8, min_lift=2)
results = list(rules)

In [8]:
results

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [9]:
len(results)

3

In [10]:
results[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [11]:
A = []
B = []
suporte = []
confianca = []
lift = []

for result in results:
  #print(resultado)
  s = result[1]
  #print(s)
  result_rules = result[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [12]:
A

[['cafe'], ['cafe'], ['cafe'], ['manteiga', 'cafe'], ['cafe', 'pao']]

In [13]:
B

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [14]:
confianca

[1.0, 1.0, 1.0, 1.0, 1.0]

In [15]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [16]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [17]:
rules_df.sort_values(by = 'lift', ascending = False)

                  A                B  suporte  confianca  lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

In [20]:
market_2 = pd.read_csv('https://raw.githubusercontent.com/MpRonald/datasets/main/mercado2.csv', header=None)
market_2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
market_2.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

In [29]:
new_col = ['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7',
           'c8', 'c9', 'c10', 'c11', 'c12', 'c13', 'c14',
           'c15', 'c16', 'c17', 'c18', 'c19']

In [30]:
market_2.columns = new_col

In [31]:
market_2.columns

Index(['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10',
       'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18', 'c19'],
      dtype='object')

In [40]:
market_2.c1.value_counts()

mineral water    484
spaghetti        411
eggs             302
ground beef      291
french fries     243
                ...
asparagus          2
chili              1
water spray        1
cream              1
cauliflower        1
Name: c1, Length: 117, dtype: int64

In [48]:
trans = []
for i in range(market_2.shape[0]):
  trans.append([str(market_2.values[i, j]) for j in range(market_2.shape[1])])

In [ ]:
trans

In [59]:
rules_2 = apriori(trans, min_support = 0.003, min_confidence = 0.5, min_lift = 3)
results_2 = list(rules_2)
len(results_2)

28

In [60]:
A = []
B = []
suporte = []
confianca = []
lift = []

for result in results_2:
  #print(resultado)
  s = result[1]
  #print(s)
  result_rules = result[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [61]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [62]:
rules_df.sort_values(by = 'lift', ascending = False)

,A,B,suporte,confianca,lift
40,"[mineral water, soup, frozen vegetables, nan]",[milk],0.003066,0.605263,4.670863
38,"[mineral water, soup, frozen vegetables]","[milk, nan]",0.003066,0.605263,4.670863
20,"[mineral water, soup, frozen vegetables]",[milk],0.003066,0.605263,4.670863
18,"[mineral water, frozen vegetables, olive oil]",[milk],0.003333,0.510204,3.937285
36,"[mineral water, frozen vegetables, nan, olive ...",[milk],0.003333,0.510204,3.937285
35,"[mineral water, frozen vegetables, olive oil]","[milk, nan]",0.003333,0.510204,3.937285
0,"[ground beef, cereals]",[spaghetti],0.003066,0.676471,3.885303
8,"[ground beef, cereals]","[spaghetti, nan]",0.003066,0.676471,3.885303
9,"[ground beef, cereals, nan]",[spaghetti],0.003066,0.676471,3.885303
1,"[olive oil, chicken]",[milk],0.003600,0.500000,3.858539
21,"[soup, frozen vegetables]","[milk, nan]",0.003999,0.500000,3.858539
22,"[soup, frozen vegetables, nan]",[milk],0.003999,0.500000,3.858539
4,"[soup, frozen vegetables]",[milk],0.003999,0.500000,3.858539
11,"[olive oil, chicken, nan]",[milk],0.003600,0.500000,3.858539
10,"[olive oil, chicken]","[milk, nan]",0.003600,0.500000,3.858539
30,"[olive oil, tomatoes, nan]",[spaghetti],0.004399,0.611111,3.509912
7,"[olive oil, tomatoes]",[spaghetti],0.004399,0.611111,3.509912
29,"[olive oil, tomatoes]","[spaghetti, nan]",0.004399,0.611111,3.509912
28,"[ground beef, tomato sauce, nan]",[spaghetti],0.003066,0.575000,3.302508
27,"[ground beef, tomato sauce]","[spaghetti, nan]",0.003066,0.575000,3.302508
6,"[ground beef, tomato sauce]",[spaghetti],0.003066,0.575000,3.302508
14,"[ground beef, cooking oil, nan]",[spaghetti],0.004799,0.571429,3.281995
2,"[ground beef, cooking oil]",[spaghetti],0.004799,0.571429,3.281995
13,"[ground beef, cooking oil]","[spaghetti, nan]",0.004799,0.571429,3.281995
43,"[ground beef, tomatoes, mineral water]","[spaghetti, nan]",0.003066,0.560976,3.221959
44,"[ground beef, tomatoes, mineral water, nan]",[spaghetti],0.003066,0.560976,3.221959
24,"[ground beef, tomatoes, mineral water]",[spaghetti],0.003066,0.560976,3.221959
37,"[milk, soup, frozen vegetables]","[mineral water, nan]",0.003066,0.766667,3.218112
39,"[milk, soup, frozen vegetables, nan]",[mineral water],0.003066,0.766667,3.216312
19,"[milk, soup, frozen vegetables]",[mineral water],0.003066,0.766667,3.216312
12,"[ground beef, frozen vegetables, chocolate]",[spaghetti],0.003066,0.534884,3.072100
31,"[ground beef, frozen vegetables, chocolate]","[spaghetti, nan]",0.003066,0.534884,3.072100
32,"[ground beef, frozen vegetables, nan, chocolate]",[spaghetti],0.003066,0.534884,3.072100
33,"[ground beef, milk, frozen vegetables]","[spaghetti, nan]",0.003066,0.534884,3.072100
34,"[ground beef, milk, frozen vegetables, nan]",[spaghetti],0.003066,0.534884,3.072100
17,"[ground beef, milk, frozen vegetables]",[spaghetti],0.003066,0.534884,3.072100
15,"[eggs, red wine]","[spaghetti, nan]",0.003733,0.528302,3.034297
16,"[eggs, red wine, nan]",[spaghetti],0.003733,0.528302,3.034297
3,"[eggs, red wine]",[spaghetti],0.003733,0.528302,3.034297
26,"[ground beef, nan, shrimp]",[spaghetti],0.005999,0.523256,3.005315
25,"[ground beef, shrimp]","[spaghetti, nan]",0.005999,0.523256,3.005315
5,"[ground beef, shrimp]",[spaghetti],0.005999,0.523256,3.005315
41,"[mineral water, tomatoes, frozen vegetables]","[spaghetti, nan]",0.003066,0.522727,3.002280
42,"[mineral water, tomatoes, frozen vegetables, nan]",[spaghetti],0.003066,0.522727,3.002280
23,"[mineral water, tomatoes, frozen vegetables]",[spaghetti],0.003066,0.522727,3.002280