<a href="https://colab.research.google.com/github/MpRonald/Machine-Learning/blob/main/ECLAT_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ECLAT

In [1]:
# install library
!pip install -q pyECLAT

In [2]:
# imports
import pandas as pd

In [3]:
market_1 = pd.read_csv('https://raw.githubusercontent.com/MpRonald/datasets/main/mercado.csv', header=None)

In [4]:
market_1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [5]:
from pyECLAT import ECLAT
eclat = ECLAT(data = market_1)

In [6]:
# generating a binary dataframe
eclat.df_bin

   manteiga  arroz  leite  cafe  feijao  pao  cerveja
0         1      0      1     0       0    1        1
1         1      0      0     1       0    1        0
2         1      0      0     1       0    1        0
3         1      0      1     1       0    1        0
4         0      0      0     0       0    0        1
5         1      0      0     0       0    0        0
6         0      0      0     0       0    1        0
7         0      0      0     0       1    0        0
8         0      1      0     0       1    0        0
9         0      1      0     0       0    0        0

In [7]:
# return names in dataset
eclat.uniq_

[nan, 'manteiga', 'arroz', 'leite', 'cafe', 'feijao', 'pao', 'cerveja']

In [10]:
idx, sup = eclat.fit(min_support=0.3, min_combination=2, max_combination=3)

Combination 2 by 2

3it [00:00, 94.29it/s]

Combination 3 by 3

1it [00:00, 54.16it/s]

In [11]:
idx

{'cafe & pao': [1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'manteiga & cafe & pao': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3]}

In [12]:
sup

{'cafe & pao': 0.3,
 'manteiga & cafe': 0.3,
 'manteiga & cafe & pao': 0.3,
 'manteiga & pao': 0.4}