# Numpy

In [1]:
import numpy as np

In [2]:
# criando uma lista
num_list = [10,12,14,16,18,20]

In [3]:
# convertendo em um array numpy
nums_array = np.array(num_list)

In [4]:
# verificando o tipo
type(nums_array)

numpy.ndarray

In [5]:
# criando array de varias dimensoes
row1 = [10,20,30]
row2 = [11,12,13]
row3 = [50,80,100]

nums_2d = np.array([row1,row2,row3,])
nums_2d.shape

(3, 3)

In [6]:
nums_2d

#### Utilizando o método arange()

In [7]:
nums_arr = np.arange(5,21)
print(nums_arr)

[ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [8]:
# criando uma lista com saltos de 2 em 2 numeros
nums_arr = np.arange(5,21,2)
print(nums_arr)

[ 5  7  9 11 13 15 17 19]

In [9]:
# criando uma lista de '1s'
ones_array = np.ones(5)
print(ones_array)

[1. 1. 1. 1. 1.]

In [10]:
# criando um array de '1s' de 6 linhas e 4 colunas
ones_array = np.ones((6,4))
print(ones_array)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [11]:
# podemos fazer a mesma coisa com 'zeros'
zero_arr = np.zeros(10)
print(zero_arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [12]:
# podemos fazer um array de 'zeros' de 3 linhas e 6 colunas
zero_arr = np.zeros((3,6))
print(zero_arr)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [13]:
# utilizando o método eyes()
# é utilizado para criar uma matriz onde temos 1 na diagonal
eyes_arr = np.eye(10)
print(eyes_arr)

[[1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]

In [14]:
# utilizamos o método random().rand() para criar uma lista de
# valores randomicos
r = np.random.rand(10,4)
r

In [15]:
# utilizamos o método random().randn() para criar uma lista de
# valores randomicos com distribuição normal
r = np.random.randn(5,3)
r

In [16]:
# utilizamos o método random().randint() para criar uma lista de
# valores randomicos inteiros
# aqui estamos gerandi uma lista de 10 a 99 com cinco elementos
# aleatorios
r = np.random.randint(10,100,5)
r

In [17]:
# usamos s função reshape() para realocar os elementos em um array
r = np.random.rand(2,10)
r

In [18]:
r = r.reshape(10,2)
r

In [19]:
# acessando um elemento do array
r = np.random.randint(1,20,10)
print(r)
print(f"Acessando o elemento no indice 3: {r[2]}")

[15 13  6 14  5 10  9 19  2  8]
Acessando o elemento no indice 3: 6

In [20]:
# usamos slice para 'dividir' o array, ou simplemente
# para podermos verificar uma parte a qual queremos
r[2:5]

In [21]:
print(f'Verfificando valor do até o quinto elemento: {r[:5]}')
print(f'Verfificando valor do após o quinto elemento: {r[5:]}')

Verfificando valor do até o quinto elemento: [15 13  6 14  5]
Verfificando valor do após o quinto elemento: [10  9 19  2  8]

In [22]:
# podemos realizar slice de arrays 2d
arr1 = [10,12,13]
arr2 = [45,32,16]
arr3 = [45,32,16]

slice_2d = np.array([arr1,arr2,arr3])
print(slice_2d[:2,:]) # duas linas todos os elementos
print(slice_2d[:2,:1]) # duas linhas somente o primeiro elemento

[[10 12 13]
 [45 32 16]]
[[10]
 [45]]

# Expressões Aritméticas

In [23]:
# para realizarmos uma operação de raiz qudrada usamos o sqrt()
n = [100,250,320,410,505]
raiz_n = np.sqrt(n)
raiz_n

In [24]:
# encontrando o log dos numeros
n = [50,60,70,80,90,100]
log_n = np.log(n)
log_n

In [25]:
# utilizamos a função exp() para expoentes
n = [0.1,0.2,0.3]
exp_n = np.exp(n)
exp_n

In [26]:
# verificando os seno e cosseno dos numeros
n = [3,4,5,6]
seno_n = np.sin(n)
cos_n = np.cos(n)
print(f"O seno é: {seno_n}\nO cosseno é: {cos_n}")

O seno é: [ 0.14112001 -0.7568025  -0.95892427 -0.2794155 ]
O cosseno é: [-0.9899925  -0.65364362  0.28366219  0.96017029]

#### Multiplicação entre Matrizes

In [27]:
m1 = [7,16,25,44]
m2 = [19,4,17,2]
m3 = [12,65,10,21]

arr_2d = np.array([m1,m2,m3])
mult = np.multiply(arr_2d,arr_2d)
mult

In [28]:
import pandas as pd

In [29]:
dados = pd.DataFrame({'col1': m1, 'col2': m2})

In [30]:
dados

,col1,col2
0,7,19
1,16,4
2,25,17
3,44,2

In [32]:
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
plt.scatter(m1, m2)

In [35]:
plt.hist(m1, m2, data=dados)

ValueError: ValueError: `bins` must increase monotonically, when an array