<a href="https://colab.research.google.com/github/MpRonald/Machine-Learning/blob/main/Pipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Get Data

In [122]:
#!pip install category_encoders

## Imports

In [212]:
from sklearn.pipeline import Pipeline
from sklearn import datasets, tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from category_encoders import OneHotEncoder
import pandas as pd

In [124]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [125]:
data = pd.read_csv('https://github.com/MpRonald/datasets/blob/main/adult_census.csv?raw=true')
data.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

# Clean, Prepare and Manipulate Data

In [126]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [127]:
data.workclass.value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [128]:
data['workclass'] = data['workclass'].replace(['?'], 'undefined')
data.workclass.value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
undefined            1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [129]:
data.occupation.value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [130]:
data['occupation'] = data['occupation'].replace(['?'], 'undefined')
data.workclass.value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
undefined            1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [131]:
data.head()

   age  workclass  fnlwgt  ... hours.per.week  native.country income
0   90  undefined   77053  ...             40   United-States  <=50K
1   82    Private  132870  ...             18   United-States  <=50K
2   66  undefined  186061  ...             40   United-States  <=50K
3   54    Private  140359  ...             40   United-States  <=50K
4   41    Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [132]:
data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [133]:
data.duplicated().sum()

24

In [134]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education.num   32537 non-null  int64
 5   marital.status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital.gain    32537 non-null  int64
 11  capital.loss    32537 non-null  int64
 12  hours.per.week  32537 non-null  int64
 13  native.country  32537 non-null  object
 14  income          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [136]:
data.describe().T

                  count           mean  ...       75%        max
age             32537.0      38.585549  ...      48.0       90.0
fnlwgt          32537.0  189780.848511  ...  236993.0  1484705.0
education.num   32537.0      10.081815  ...      12.0       16.0
capital.gain    32537.0    1078.443741  ...       0.0    99999.0
capital.loss    32537.0      87.368227  ...       0.0     4356.0
hours.per.week  32537.0      40.440329  ...      45.0       99.0

[6 rows x 8 columns]

In [137]:
data['capital.gain'].value_counts()

0        29825
15024      347
7688       284
7298       246
99999      159
         ...
1111         1
4931         1
7978         1
5060         1
2538         1
Name: capital.gain, Length: 119, dtype: int64

# Train Model

In [138]:
X = data.iloc[:,:13]
y = data.income

In [139]:
X

       age  workclass  fnlwgt  ... capital.gain  capital.loss hours.per.week
0       90  undefined   77053  ...            0          4356             40
1       82    Private  132870  ...            0          4356             18
2       66  undefined  186061  ...            0          4356             40
3       54    Private  140359  ...            0          3900             40
4       41    Private  264663  ...            0          3900             40
...    ...        ...     ...  ...          ...           ...            ...
32556   22    Private  310152  ...            0             0             40
32557   27    Private  257302  ...            0             0             38
32558   40    Private  154374  ...            0             0             40
32559   58    Private  151910  ...            0             0             40
32560   22    Private  201490  ...            0             0             20

[32537 rows x 13 columns]

In [140]:
y

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557    <=50K
32558     >50K
32559    <=50K
32560    <=50K
Name: income, Length: 32537, dtype: object

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15, random_state=42)

In [151]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((27656, 13), (4881, 13), (27656,), (4881,))

In [152]:
# selecionando colunas no numricas
data.select_dtypes(include='object')

       workclass     education  ... native.country income
0      undefined       HS-grad  ...  United-States  <=50K
1        Private       HS-grad  ...  United-States  <=50K
2      undefined  Some-college  ...  United-States  <=50K
3        Private       7th-8th  ...  United-States  <=50K
4        Private  Some-college  ...  United-States  <=50K
...          ...           ...  ...            ...    ...
32556    Private  Some-college  ...  United-States  <=50K
32557    Private    Assoc-acdm  ...  United-States  <=50K
32558    Private       HS-grad  ...  United-States   >50K
32559    Private       HS-grad  ...  United-States  <=50K
32560    Private       HS-grad  ...  United-States  <=50K

[32537 rows x 9 columns]

In [160]:
# one hot encoder
one = OneHotEncoder(use_cat_names=True)
X_train = one.fit_transform(X_train)
X_test = one.transform(X_test)
X_train.shape, X_test.shape

Warning: No categorical columns found. Calling 'transform' will only return input data.

((27656, 66), (4881, 66))

In [166]:
scaler_train = StandardScaler().fit(X_train)
scaler_test = StandardScaler().fit(X_test)
X_train = scaler_train.transform(X_train)
X_test = scaler_train.transform(X_test)

In [167]:
clf_tree = tree.DecisionTreeClassifier().fit(X_train, y_train)

# Test Data

In [168]:
clf_tree.predict(X_test)

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [169]:
accuracy = clf_tree.score(X_test, y_test)
accuracy

0.8172505634091375

# Creating Pipelines

In [170]:
pip_1 = Pipeline([
    ('one', OneHotEncoder()),
    ('scaler', StandardScaler()),
    ('clf', tree.DecisionTreeClassifier())])

In [171]:
pip_1.steps

[('one', OneHotEncoder()),
 ('scaler', StandardScaler()),
 ('clf', DecisionTreeClassifier())]

In [172]:
X = data.iloc[:,:13]
y = data.income
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15, random_state=42)

In [173]:
pip_1.fit(X_train, y_train)

Pipeline(steps=[('one',
                 OneHotEncoder(cols=['workclass', 'education', 'marital.status',
                                     'occupation', 'relationship', 'race',
                                     'sex'])),
                ('scaler', StandardScaler()),
                ('clf', DecisionTreeClassifier())])

In [174]:
accuracy_pip = pip_1.score(X_test, y_test)
accuracy, accuracy_pip

(0.8172505634091375, 0.8170456873591477)

# Creating Another Pipelines

In [189]:
pip_min_max = Pipeline([
    ('one', OneHotEncoder()),
    ('scaler', MinMaxScaler()),
    ('clf', tree.DecisionTreeClassifier())])

pip_max_depth = Pipeline([
    ('one', OneHotEncoder()),
    ('scaler', StandardScaler()),
    ('clf', tree.DecisionTreeClassifier(max_depth=10, min_samples_leaf=4))])

clf_rf = RandomForestClassifier(n_estimators=200, random_state=42)
pip_random_forest = Pipeline([
    ('one', OneHotEncoder()),
    ('scaler', StandardScaler()),
    ('clf', clf_rf)])

In [190]:
pip_min_max.fit(X_train, y_train)
pip_max_depth.fit(X_train, y_train)
pip_random_forest.fit(X_train, y_train)

Pipeline(steps=[('one',
                 OneHotEncoder(cols=['workclass', 'education', 'marital.status',
                                     'occupation', 'relationship', 'race',
                                     'sex'])),
                ('scaler', StandardScaler()),
                ('clf',
                 RandomForestClassifier(n_estimators=200, random_state=42))])

In [191]:
print(f'Accuracy Random Forest: {pip_random_forest.score(X_test, y_test)}')
print(f'Accuracy Min-Max: {pip_min_max.score(X_test, y_test)}')
print(f'Accuracy Max Depth: {pip_max_depth.score(X_test, y_test)}')

Accuracy Random Forest: 0.8553575087072322
Accuracy Min-Max: 0.8154066789592297
Accuracy Max Depth: 0.8645769309567711

## Processing Distincts Columns

In [203]:
# using median
pip_median = Pipeline(steps=[
    ('median_', SimpleImputer(strategy='median'))])

# using frequence
frequence = Pipeline(steps=[(
    'frequence', SimpleImputer(strategy='most_frequent'))])

In [204]:
data_cleaning = ColumnTransformer(
    transformers=[
        ('median_', pip_median, ['education.num']),
        ('frequence', frequence, ['race'])
    ]
)

## Final Pipeline

In [205]:
final_pipeline = Pipeline([
    ('data_cleaning', data_cleaning),
    ('one', OneHotEncoder()),
    ('std', StandardScaler()),
    ('clf', tree.DecisionTreeClassifier(max_depth=10, min_samples_leaf=4))])

In [206]:
final_pipeline.fit(X_train, y_train)

Pipeline(steps=[('data_cleaning',
                 ColumnTransformer(transformers=[('median_',
                                                  Pipeline(steps=[('median_',
                                                                   SimpleImputer(strategy='median'))]),
                                                  ['education.num']),
                                                 ('frequence',
                                                  Pipeline(steps=[('frequence',
                                                                   SimpleImputer(strategy='most_frequent'))]),
                                                  ['race'])])),
                ('one', OneHotEncoder(cols=[0, 1])), ('std', StandardScaler()),
                ('clf',
                 DecisionTreeClassifier(max_depth=10, min_samples_leaf=4))])

In [208]:
final_pipeline.predict(X_test)

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [211]:
final_pipeline.score(X_test, y_test)

0.7826265109608687

## Grid Search Pipelines

In [237]:
param_grid = dict(clf__max_depth = [5,10,15,20,25,30,35],
                  clf__criterion = ['gini', 'entropy', 'log_loss'],
                  clf__splitter = ['best', 'random'])


grid = GridSearchCV(final_pipeline, param_grid=param_grid, cv=5, scoring='accuracy').fit(X, y)
grid.cv_results_

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
70 fits failed out of a total of 210.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
70 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.8/dist-packages/sklearn/pipeline.py", line 394, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/usr/local/lib/python3.8/dist-packages/sklearn/tree/_classes.py", line 937, in fit
    super().fit(
  File "/usr/local/lib/python3.8/dist-packages/sklearn/tree/_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.77920488 0.77920488 0.77917414 0.77917414 0.77917414 0.77917414
 0.77917414 0.77917414 0.77917414 0.77917414 0.77917414 0.77917414
 0.77917414 0.77917414 0.77920488 0.77920488 0.77917414 0.77917414
 0.77917414 0.77917414 0.77917414 0.77917414 0.77917414 0.77917414
 0.77917414 0.77917414 0.77917414 0.77917414        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

{'mean_fit_time': array([0.16282816, 0.15719633, 0.16749773, 0.16381431, 0.17002759,
        0.16440792, 0.16499567, 0.16148357, 0.16744194, 0.16724277,
        0.16730289, 0.16620965, 0.16980457, 0.16323781, 0.1603611 ,
        0.15783195, 0.16576176, 0.16183295, 0.16562076, 0.16296754,
        0.16968536, 0.16493454, 0.17582231, 0.17234836, 0.1746551 ,
        0.16631999, 0.17127891, 0.16461391, 0.14867411, 0.21683331,
        0.15932841, 0.18388224, 0.41112318, 0.25681968, 0.2329412 ,
        0.16303577, 0.14912038, 0.15146704, 0.15152011, 0.15315981,
        0.15110321, 0.15175099]),
 'std_fit_time': array([0.00529781, 0.00487013, 0.00627481, 0.00310272, 0.00592231,
        0.00295746, 0.00356304, 0.0035215 , 0.00854464, 0.00550241,
        0.00562133, 0.00408486, 0.01095079, 0.00573969, 0.00254364,
        0.00465124, 0.00682195, 0.0050988 , 0.00655538, 0.00295857,
        0.00398752, 0.00422418, 0.00808549, 0.00531668, 0.01244755,
        0.00510918, 0.00791447, 0.0039217 , 0.00750675, 0.04613125,
        0.01862213, 0.04854132, 0.1629092 , 0.096079  , 0.04927184,
        0.02017546, 0.00445605, 0.00299058, 0.00333629, 0.00463779,
        0.00381807, 0.00874242]),
 'mean_score_time': array([0.03306131, 0.03487196, 0.03707914, 0.03354378, 0.03339033,
        0.03779759, 0.03459878, 0.0316824 , 0.03164635, 0.03333931,
        0.03108859, 0.03170466, 0.03049908, 0.03203321, 0.03251748,
        0.03198266, 0.03168859, 0.03073587, 0.03368826, 0.03247929,
        0.03334312, 0.0331872 , 0.03573737, 0.03274059, 0.03541465,
        0.03126616, 0.0327054 , 0.03165555, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]),
 'std_score_time': array([0.00267941, 0.00414944, 0.00856427, 0.00233426, 0.00391593,
        0.00958371, 0.00566795, 0.00126632, 0.00144542, 0.00315358,
        0.00079962, 0.00091981, 0.00051598, 0.00196888, 0.00310981,
        0.00227391, 0.00081357, 0.00054093, 0.00213422, 0.00300849,
        0.00374999, 0.00352791, 0.00670539, 0.00297542, 0.00346661,
        0.00073478, 0.00217889, 0.00181216, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]),
 'param_clf__criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'log_loss',
                    'log_loss', 'log_loss', 'log_loss', 'log_loss',
                    'log_loss', 'log_loss', 'log_loss', 'log_loss',
                    'log_loss', 'log_loss', 'log_loss', 'log_loss',
                    'log_loss'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_clf__max_depth': masked_array(data=[5, 5, 10, 10, 15, 15, 20, 20, 25, 25, 30, 30, 35, 35,
                    5, 5, 10, 10, 15, 15, 20, 20, 25, 25, 30, 30, 35, 35,
                    5, 5, 10, 10, 15, 15, 20, 20, 25, 25, 30, 30, 35, 35],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_clf__splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'clf__criterion': 'gini',
   'clf__max_depth': 5,
   'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 5, 'clf__splitter': 'random'},
  {'clf__criterion': 'gini', 'clf__max_depth': 10, 'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 10, 'clf__splitter': 'random'},
  {'clf__criterion': 'gini', 'clf__max_depth': 15, 'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 15, 'clf__splitter': 'random'},
  {'clf__criterion': 'gini', 'clf__max_depth': 20, 'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 20, 'clf__splitter': 'random'},
  {'clf__criterion': 'gini', 'clf__max_depth': 25, 'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 25, 'clf__splitter': 'random'},
  {'clf__criterion': 'gini', 'clf__max_depth': 30, 'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 30, 'clf__splitter': 'random'},
  {'clf__criterion': 'gini', 'clf__max_depth': 35, 'clf__splitter': 'best'},
  {'clf__criterion': 'gini', 'clf__max_depth': 35, 'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 5, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 5,
   'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 10, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 10,
   'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 15, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 15,
   'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 20, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 20,
   'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 25, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 25,
   'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 30, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 30,
   'clf__splitter': 'random'},
  {'clf__criterion': 'entropy', 'clf__max_depth': 35, 'clf__splitter': 'best'},
  {'clf__criterion': 'entropy',
   'clf__max_depth': 35,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss', 'clf__max_depth': 5, 'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 5,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 10,
   'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 10,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 15,
   'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 15,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 20,
   'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 20,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 25,
   'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 25,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 30,
   'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 30,
   'clf__splitter': 'random'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 35,
   'clf__splitter': 'best'},
  {'clf__criterion': 'log_loss',
   'clf__max_depth': 35,
   'clf__splitter': 'random'}],
 'split0_test_score': array([0.80101414, 0.80101414, 0.80101414, 0.80101414, 0.80101414,
        0.80101414, 0.80101414, 0.80101414, 0.80101414, 0.80101414,
        0.80101414, 0.80101414, 0.80101414, 0.80101414, 0.80101414,
        0.80101414, 0.80101414, 0.80101414, 0.80101414, 0.80101414,
        0.80101414, 0.80101414, 0.80101414, 0.80101414, 0.80101414,
        0.80101414, 0.80101414, 0.80101414,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split1_test_score': array([0.76828519, 0.76828519, 0.76828519, 0.76828519, 0.76828519,
        0.76828519, 0.76828519, 0.76828519, 0.76828519, 0.76828519,
        0.76828519, 0.76828519, 0.76828519, 0.76828519, 0.76828519,
        0.76828519, 0.76828519, 0.76828519, 0.76828519, 0.76828519,
        0.76828519, 0.76828519, 0.76828519, 0.76828519, 0.76828519,
        0.76828519, 0.76828519, 0.76828519,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split2_test_score': array([0.77700937, 0.77700937, 0.77700937, 0.77700937, 0.77700937,
        0.77700937, 0.77700937, 0.77700937, 0.77700937, 0.77700937,
        0.77700937, 0.77700937, 0.77700937, 0.77700937, 0.77700937,
        0.77700937, 0.77700937, 0.77700937, 0.77700937, 0.77700937,
        0.77700937, 0.77700937, 0.77700937, 0.77700937, 0.77700937,
        0.77700937, 0.77700937, 0.77700937,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split3_test_score': array([0.77685569, 0.77685569, 0.77685569, 0.77685569, 0.77685569,
        0.77685569, 0.77685569, 0.77685569, 0.77685569, 0.77685569,
        0.77685569, 0.77685569, 0.77685569, 0.77685569, 0.77685569,
        0.77685569, 0.77685569, 0.77685569, 0.77685569, 0.77685569,
        0.77685569, 0.77685569, 0.77685569, 0.77685569, 0.77685569,
        0.77685569, 0.77685569, 0.77685569,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split4_test_score': array([0.77286   , 0.77286   , 0.77270632, 0.77270632, 0.77270632,
        0.77270632, 0.77270632, 0.77270632, 0.77270632, 0.77270632,
        0.77270632, 0.77270632, 0.77270632, 0.77270632, 0.77286   ,
        0.77286   , 0.77270632, 0.77270632, 0.77270632, 0.77270632,
        0.77270632, 0.77270632, 0.77270632, 0.77270632, 0.77270632,
        0.77270632, 0.77270632, 0.77270632,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'mean_test_score': array([0.77920488, 0.77920488, 0.77917414, 0.77917414, 0.77917414,
        0.77917414, 0.77917414, 0.77917414, 0.77917414, 0.77917414,
        0.77917414, 0.77917414, 0.77917414, 0.77917414, 0.77920488,
        0.77920488, 0.77917414, 0.77917414, 0.77917414, 0.77917414,
        0.77917414, 0.77917414, 0.77917414, 0.77917414, 0.77917414,
        0.77917414, 0.77917414, 0.77917414,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'std_test_score': array([0.01136204, 0.01136204, 0.01137936, 0.01137936, 0.01137936,
        0.01137936, 0.01137936, 0.01137936, 0.01137936, 0.01137936,
        0.01137936, 0.01137936, 0.01137936, 0.01137936, 0.01136204,
        0.01136204, 0.01137936, 0.01137936, 0.01137936, 0.01137936,
        0.01137936, 0.01137936, 0.01137936, 0.01137936, 0.01137936,
        0.01137936, 0.01137936, 0.01137936,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'rank_test_score': array([ 1,  1,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  1,  1,  5,
         5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5, 35, 39, 38, 37, 36, 41,
        34, 29, 33, 32, 31, 30, 40, 42], dtype=int32)}

In [238]:
grid.best_params_

{'clf__criterion': 'gini', 'clf__max_depth': 5, 'clf__splitter': 'best'}

In [239]:
grid.best_score_

0.7792048778446624