In [84]:
# from google.colab import drive
# drive.mount('/content/drive')

In [51]:
rate_users = {'Ana': 
		{'Freddy x Jason': 2.5, 
		 'O Ultimato Bourne': 3.5,
		 'Star Trek': 3.0, 
		 'Exterminador do Futuro': 3.5, 
		 'Norbit': 2.5, 
		 'Star Wars': 3.0},
	 
	  'Marcos': 
		{'Freddy x Jason': 3.0, 
		 'O Ultimato Bourne': 3.5, 
		 'Star Trek': 1.5, 
		 'Exterminador do Futuro': 5.0, 
		 'Star Wars': 3.0, 
		 'Norbit': 3.5}, 

	  'Pedro': 
	    {'Freddy x Jason': 2.5, 
		 'O Ultimato Bourne': 3.0,
		 'Exterminador do Futuro': 3.5, 
		 'Star Wars': 4.0},
			 
	  'Claudia': 
		{'O Ultimato Bourne': 3.5, 
		 'Star Trek': 3.0,
		 'Star Wars': 4.5, 
		 'Exterminador do Futuro': 4.0, 
		 'Norbit': 2.5},
				 
	  'Adriano': 
		{'Freddy x Jason': 3.0, 
		 'O Ultimato Bourne': 4.0, 
		 'Star Trek': 2.0, 
		 'Exterminador do Futuro': 3.0, 
		 'Star Wars': 3.0,
		 'Norbit': 2.0}, 

	  'Janaina': 
	     {'Freddy x Jason': 3.0, 
	      'O Ultimato Bourne': 4.0,
	      'Star Wars': 3.0, 
	      'Exterminador do Futuro': 5.0, 
	      'Norbit': 3.5},
			  
	  'Leonardo': 
	    {'O Ultimato Bourne':4.5,
             'Norbit':1.0,
	     'Exterminador do Futuro':4.0}}

In [52]:
rate_users['Ana']['Star Trek']

3.0

### Euclidean Distance

In [53]:
from math import sqrt
def euclidean(rates, user1, user2):
    sim = {}
    for item in rates[user1]:
        if item in rates[user2]:
            sim[item] = 1
    if len(sim) == 0:
        return 0
    s = sum([pow(rates[user1][item] - rates[user2][item], 2)\
               for item in rates[user1] if item in rates[user2]])
    return round(1/(1 + sqrt(s))*100,2)

In [54]:
euclidean(rate_users, 'Leonardo', 'Ana')

34.83

In [94]:
def get_sim(rates, user, x=0, y=30):
    sim = [(euclidean(rates, user, other), other) for other in rates if other != user]
    sim.sort()
    sim.reverse()
    return sim[x:y]

In [58]:
get_sim(rate_users, 'Leonardo')

[(40.0, 'Adriano'),
 (38.74, 'Pedro'),
 (35.68, 'Claudia'),
 (34.83, 'Ana'),
 (26.75, 'Janaina'),
 (25.82, 'Marcos')]

### Similarity by User

In [95]:
def get_recomendation(rates, user, x=0, y=30):
    total = {}
    sum_sim = {}

    # goes through the users
    for other in rates:
        if other == user: continue
        sim = euclidean(rates, user, other)
        
        if sim <= 0: continue

        # goes through the movies
        for item in rates[other]:
            # checking if the movies there aren't at the list
            if item not in rates[user]:
                # cumulating user rate
                total.setdefault(item, 0)
                total[item] += rates[other][item] * sim
                sum_sim.setdefault(item, 0)
                sum_sim[item] += sim

    rankings = [(t / sum_sim[item], item) for item, t in total.items()]
    rankings.sort()
    rankings.reverse()
    return rankings[x:y]

In [61]:
get_recomendation(rate_users, 'Leonardo')

[(3.457140025765534, 'Star Wars'),
 (2.778590345491754, 'Freddy x Jason'),
 (2.4225042177070346, 'Star Trek')]

In [62]:
get_recomendation(rate_users, 'Pedro')

[(2.4826026844864337, 'Star Trek'), (2.453390350697713, 'Norbit')]

##Similarity by Movies

In [63]:
rate_movies = {'Freddy x Jason': 
		{'Ana': 2.5, 
		 'Marcos:': 3.0 ,
		 'Pedro': 2.5, 
		 'Adriano': 3.0, 
		 'Janaina': 3.0 },
	 
	 'O Ultimato Bourne': 
		{'Ana': 3.5, 
		 'Marcos': 3.5,
		 'Pedro': 3.0, 
		 'Claudia': 3.5, 
		 'Adriano': 4.0, 
		 'Janaina': 4.0,
		 'Leonardo': 4.5 },
				 
	 'Star Trek': 
		{'Ana': 3.0, 
		 'Marcos:': 1.5,
		 'Claudia': 3.0, 
		 'Adriano': 2.0 },
	
	 'Exterminador do Futuro': 
		{'Ana': 3.5, 
		 'Marcos:': 5.0 ,
		 'Pedro': 3.5, 
		 'Claudia': 4.0, 
		 'Adriano': 3.0, 
		 'Janaina': 5.0,
		 'Leonardo': 4.0},
				 
	 'Norbit': 
		{'Ana': 2.5, 
		 'Marcos:': 3.0 ,
		 'Claudia': 2.5, 
		 'Adriano': 2.0, 
		 'Janaina': 3.5,
		 'Leonardo': 1.0},
				 
	 'Star Wars': 
		{'Ana': 3.0, 
		 'Marcos:': 3.5,
		 'Pedro': 4.0, 
		 'Claudia': 4.5, 
		 'Adriano': 3.0, 
		 'Janaina': 3.0}
}

In [64]:
rate_movies['Star Wars']

{'Ana': 3.0,
 'Marcos:': 3.5,
 'Pedro': 4.0,
 'Claudia': 4.5,
 'Adriano': 3.0,
 'Janaina': 3.0}

In [65]:
rate_movies['Star Wars']['Ana']

3.0

In [66]:
get_sim(rate_movies, 'Star Wars')

[(37.62, 'Freddy x Jason'),
 (32.66, 'O Ultimato Bourne'),
 (29.43, 'Norbit'),
 (27.43, 'Exterminador do Futuro'),
 (27.08, 'Star Trek')]

In [67]:
get_recomendation(rate_movies, 'Star Trek')

[(3.606746734921572, 'Janaina'),
 (3.5, 'Marcos'),
 (3.1748583877995644, 'Pedro'),
 (2.929471589652885, 'Leonardo')]

In [110]:
def carregaMovieLens(path='/content/drive/MyDrive/Datasets'):
    filmes = {}
    for linha in open(path + '/u.item'):
        (id, titulo) = linha.split('|')[0:2]
        filmes[id] = titulo
    # print(filmes)

    base = {}
    for linha in open(path + '/u.data'):
        (usuario, idfilme, nota, tempo) = linha.split('\t')
        base.setdefault(usuario, {})
        base[usuario][filmes[idfilme]] = float(nota)
    return base

In [112]:
def getRecomendacoesItens(baseUsuario, similaridadeItens, usuario):
    notasUsuario = baseUsuario[usuario]
    notas={}
    totalSimilaridade={}
    for (item, nota) in notasUsuario.items():
        for (similaridade, item2) in similaridadeItens[item]:
            if item2 in notasUsuario: continue
            notas.setdefault(item2, 0)
            notas[item2] += similaridade * nota
            totalSimilaridade.setdefault(item2,0)
            totalSimilaridade[item2] += similaridade
    rankings=[(score/totalSimilaridade[item], item) for item, score in notas.items()]
    rankings.sort()
    rankings.reverse()
    return rankings