In [2]:
import pandas as pd
import numpy as np

### Loading Dataset

In [3]:
data = pd.read_json('https://raw.githubusercontent.com/alura-cursos/2570-regressao-com-sklearn/main/dados/imoveis.json',
                    orient='columns')

### Exploring Information

In [4]:
data.head()

,ident,listing
0,"{'customerID': '775564-BOJSMVON', 'source': 'W...","{'types': {'unit': 'Outros', 'usage': 'Residen..."
1,"{'customerID': '660895-AUENKNYY', 'source': 'W...","{'types': {'unit': 'Apartamento', 'usage': 'Re..."
2,"{'customerID': '751522-JESYFEQL', 'source': 'W...","{'types': {'unit': 'Outros', 'usage': 'Residen..."
3,"{'customerID': '714052-GAAEWYKS', 'source': 'W...","{'types': {'unit': 'Outros', 'usage': 'Comerci..."
4,"{'customerID': '568886-ZIBFOMCC', 'source': 'W...","{'types': {'unit': 'Apartamento', 'usage': 'Re..."

In [5]:
data.ident[0]

{'customerID': '775564-BOJSMVON', 'source': 'Website'}

In [6]:
data.listing[0]

{'types': {'unit': 'Outros', 'usage': 'Residencial'},
 'address': {'city': 'Rio de Janeiro',
  'location': {'lon': -43.413557, 'lat': -22.909429},
  'zone': 'Zona Oeste',
  'neighborhood': 'Taquara'},
 'prices': {'price': '45000', 'tax': {'iptu': '0', 'condo': '150'}},
 'features': {'bedrooms': 0,
  'bathrooms': 0,
  'suites': 0,
  'parkingSpaces': 1,
  'usableAreas': '62',
  'totalAreas': '62',
  'floors': 0,
  'unitsOnTheFloor': 0,
  'unitFloor': 0}}

### Data Treatment

##### Normalization

In [7]:
data_list1 = pd.json_normalize(data.ident)
data_list1.head()

        customerID   source
0  775564-BOJSMVON  Website
1  660895-AUENKNYY  Website
2  751522-JESYFEQL  Website
3  714052-GAAEWYKS  Website
4  568886-ZIBFOMCC  Website

In [8]:
data_list2 = pd.json_normalize(data.listing, sep='_')
data_list2.head()

,types_unit,types_usage,address_city,address_location_lon,address_location_lat,address_zone,address_neighborhood,prices_price,prices_tax_iptu,prices_tax_condo,features_bedrooms,features_bathrooms,features_suites,features_parkingSpaces,features_usableAreas,features_totalAreas,features_floors,features_unitsOnTheFloor,features_unitFloor
0,Outros,Residencial,Rio de Janeiro,-43.413557,-22.909429,Zona Oeste,Taquara,45000,0,150,0,0,0,1,62,62,0,0,0
1,Apartamento,Residencial,Rio de Janeiro,-43.509141,-22.869698,Zona Oeste,Sant√≠ssimo,45000,0,120,2,1,0,1,44,0,0,0,0
2,Outros,Residencial,Rio de Janeiro,-43.646786,-22.986927,Zona Oeste,Pedra de Guaratiba,50000,0,100,0,0,0,0,132,132,0,0,0
3,Outros,Comercial,Rio de Janeiro,-43.330818,-22.881977,Zona Norte,Cascadura,45000,346,468,0,1,0,0,32,32,0,0,3
4,Apartamento,Residencial,Rio de Janeiro,-43.480742,-23.027653,Zona Oeste,Recreio dos Bandeirantes,50000,120,400,3,2,1,1,60,0,3,4,2

In [9]:
# concat dataframes
data_houses = pd.concat([data_list1, data_list2], axis=1)
data_houses.head()

,customerID,source,types_unit,types_usage,address_city,address_location_lon,address_location_lat,address_zone,address_neighborhood,prices_price,...,prices_tax_condo,features_bedrooms,features_bathrooms,features_suites,features_parkingSpaces,features_usableAreas,features_totalAreas,features_floors,features_unitsOnTheFloor,features_unitFloor
0,775564-BOJSMVON,Website,Outros,Residencial,Rio de Janeiro,-43.413557,-22.909429,Zona Oeste,Taquara,45000,...,150,0,0,0,1,62,62,0,0,0
1,660895-AUENKNYY,Website,Apartamento,Residencial,Rio de Janeiro,-43.509141,-22.869698,Zona Oeste,Sant√≠ssimo,45000,...,120,2,1,0,1,44,0,0,0,0
2,751522-JESYFEQL,Website,Outros,Residencial,Rio de Janeiro,-43.646786,-22.986927,Zona Oeste,Pedra de Guaratiba,50000,...,100,0,0,0,0,132,132,0,0,0
3,714052-GAAEWYKS,Website,Outros,Comercial,Rio de Janeiro,-43.330818,-22.881977,Zona Norte,Cascadura,45000,...,468,0,1,0,0,32,32,0,0,3
4,568886-ZIBFOMCC,Website,Apartamento,Residencial,Rio de Janeiro,-43.480742,-23.027653,Zona Oeste,Recreio dos Bandeirantes,50000,...,400,3,2,1,1,60,0,3,4,2

In [10]:
data_houses.shape

(73615, 21)

In [13]:
for col in data_houses.columns:
    print('='*60)
    print(data_houses[col].value_counts())

============================================================
775564-BOJSMVON    1
917809-TRNXMOHE    1
125760-XEXDELYV    1
294183-VCUBOXCU    1
465524-CFDRZTHS    1
                  ..
200525-LDRZXCVM    1
938284-QWFBFUXB    1
882696-YVZSJYMI    1
566032-WFPGBXHL    1
610503-VULDJJZZ    1
Name: customerID, Length: 73615, dtype: int64
============================================================
Website    73615
Name: source, dtype: int64
============================================================
Apartamento    59106
Casa            9389
Outros          5120
Name: types_unit, dtype: int64
============================================================
Residencial    69596
Comercial       4019
Name: types_usage, dtype: int64
============================================================
Rio de Janeiro        73607
Queimados                 3
S√£o Gon√ßalo               2
Cachoeirinha              1
S√£o Jo√£o de Meriti        1
Arma√ß√£o dos B√∫zios        1
Name: address_city, dtype: int64
============================================================
-43.365895    399
-43.462590    278
-43.333066    236
-43.383834    232
-43.516473    218
             ...
-43.231882      1
-43.236952      1
-43.240152      1
-43.185712      1
-43.250934      1
Name: address_location_lon, Length: 25753, dtype: int64
============================================================
-23.000371    399
-23.017479    278
-22.937463    236
-22.966600    232
-23.015968    218
             ...
-22.916667      1
-22.904453      1
-22.927386      1
-22.944062      1
-22.998918      1
Name: address_location_lat, Length: 25552, dtype: int64
============================================================
Zona Oeste      37116
Zona Sul        19222
Zona Norte      15191
Zona Central     1921
                  165
Name: address_zone, dtype: int64
============================================================
Barra da Tijuca                 11987
Recreio dos Bandeirantes         7956
Copacabana                       6380
Jacarepagu√°                      4192
Tijuca                           3672
                                ...
√Årea Rural de Rio de Janeiro        1
Parque Anal√¢ndia                    1
Dumas                               1
Tubiacanga                          1
Vasco da Gama                       1
Name: address_neighborhood, Length: 158, dtype: int64
============================================================
650000     830
550000     750
750000     748
450000     737
1200000    723
          ...
672042       1
671567       1
678825       1
371932       1
578990       1
Name: prices_price, Length: 5230, dtype: int64
============================================================
0         9436
1         1937
20        1247
10        1122
100        939
          ...
4857         1
2526         1
5376         1
444900       1
3729         1
Name: prices_tax_iptu, Length: 5488, dtype: int64
============================================================
0         6562
1200      1371
800       1350
1100      1257
1         1254
          ...
2905         1
2272         1
4102         1
144654       1
6075         1
Name: prices_tax_condo, Length: 3297, dtype: int64
============================================================
2     25350
3     24068
4     10911
1      6353
0      3980
5      2220
6       476
7        90
8        65
10       28
9        18
11        9
12        8
13        7
14        7
20        5
15        4
32        3
30        2
17        2
23        2
50        2
27        2
40        1
24        1
36        1
Name: features_bedrooms, dtype: int64
============================================================
2     25451
1     21096
3     13481
4      5591
5      3286
6      1999
0      1270
7       813
8       405
9        95
10       72
11       17
12       16
15        3
40        3
22        2
17        2
16        2
13        2
25        2
18        2
14        1
49        1
24        1
36        1
20        1
Name: features_bathrooms, dtype: int64
============================================================
1     33188
0     24492
2      7812
3      3707
4      3314
5       916
6       140
7        18
8         7
9         4
10        4
11        4
13        2
20        1
50        1
23        1
17        1
12        1
16        1
36        1
Name: features_suites, dtype: int64
============================================================
1      35766
2      15487
0      13173
3       5020
4       2727
5        601
6        377
8        134
10       124
7         82
12        16
15        14
20        10
9         10
14         8
30         8
19         7
21         7
11         6
13         5
25         4
50         3
45         3
16         3
40         3
18         3
144        1
60         1
26         1
35         1
44         1
180        1
27         1
17         1
99         1
31         1
34         1
42         1
23         1
32         1
Name: features_parkingSpaces, dtype: int64
============================================================
70      2197
60      1560
80      1525
90      1302
50      1259
        ...
1442       1
1917       1
916        1
1629       1
1201       1
Name: features_usableAreas, Length: 939, dtype: int64
============================================================
0        6948
70       1981
80       1329
60       1302
100      1135
         ...
2965        1
5710        1
10265       1
3463        1
1014        1
Name: features_totalAreas, Length: 1305, dtype: int64
============================================================
0     57971
12     2100
3      1994
10     1496
5      1102
4      1016
7       975
8       966
2       878
6       744
15      732
11      431
9       377
17      344
20      335
13      324
18      321
14      296
16      286
1       276
22      194
21      113
19       91
23       78
25       48
24       30
30       25
28       16
27       13
26        8
40        8
29        6
32        4
33        4
34        3
35        3
42        2
38        1
37        1
31        1
50        1
41        1
Name: features_floors, dtype: int64
============================================================
0     60027
4      3570
8      1967
6      1680
2      1437
10     1187
12     1015
1       966
3       329
5       324
7       151
9       147
19      147
16       98
11       72
20       69
14       61
15       58
18       41
13       36
50       34
30       28
25       22
17       18
22       17
24       16
40       12
21       11
23       11
36        9
26        9
49        5
29        5
37        5
34        5
44        4
35        3
45        3
27        3
33        3
38        3
32        2
31        1
76        1
39        1
43        1
28        1
Name: features_unitsOnTheFloor, dtype: int64
============================================================
0       54737
2        3298
3        3000
1        2584
4        1830
5        1552
6        1322
7        1023
8         895
10        794
9         558
12        428
11        361
15        247
13        178
14        175
16        150
17        115
18         77
20         72
19         48
21         41
22         32
25         17
50         12
24         11
23         10
1234        7
28          6
26          6
42          3
99          3
27          3
36          2
29          2
31          1
102         1
701         1
302         1
370         1
123         1
480         1
33          1
65          1
167         1
78          1
30          1
60          1
504         1
32          1
43          1
Name: features_unitFloor, dtype: int64

### Pre processing

##### Cleaning Dataset

In [15]:
# filter
filter = (data_houses.types_usage == 'Residencial')\
    & (data_houses.address_city == 'Rio de Janeiro')
data_houses = data_houses[filter]
data_houses.head()

,customerID,source,types_unit,types_usage,address_city,address_location_lon,address_location_lat,address_zone,address_neighborhood,prices_price,...,prices_tax_condo,features_bedrooms,features_bathrooms,features_suites,features_parkingSpaces,features_usableAreas,features_totalAreas,features_floors,features_unitsOnTheFloor,features_unitFloor
0,775564-BOJSMVON,Website,Outros,Residencial,Rio de Janeiro,-43.413557,-22.909429,Zona Oeste,Taquara,45000,...,150,0,0,0,1,62,62,0,0,0
1,660895-AUENKNYY,Website,Apartamento,Residencial,Rio de Janeiro,-43.509141,-22.869698,Zona Oeste,Sant√≠ssimo,45000,...,120,2,1,0,1,44,0,0,0,0
2,751522-JESYFEQL,Website,Outros,Residencial,Rio de Janeiro,-43.646786,-22.986927,Zona Oeste,Pedra de Guaratiba,50000,...,100,0,0,0,0,132,132,0,0,0
4,568886-ZIBFOMCC,Website,Apartamento,Residencial,Rio de Janeiro,-43.480742,-23.027653,Zona Oeste,Recreio dos Bandeirantes,50000,...,400,3,2,1,1,60,0,3,4,2
5,526755-OBLTYTEN,Website,Outros,Residencial,Rio de Janeiro,-43.571183,-22.966059,Zona Oeste,Guaratiba,50000,...,0,0,0,0,0,200,200,0,0,0

In [16]:
# variable types
data_houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69588 entries, 0 to 73614
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customerID                69588 non-null  object
 1   source                    69588 non-null  object
 2   types_unit                69588 non-null  object
 3   types_usage               69588 non-null  object
 4   address_city              69588 non-null  object
 5   address_location_lon      69449 non-null  float64
 6   address_location_lat      69449 non-null  float64
 7   address_zone              69588 non-null  object
 8   address_neighborhood      69588 non-null  object
 9   prices_price              69588 non-null  object
 10  prices_tax_iptu           60863 non-null  object
 11  prices_tax_condo          63527 non-null  object
 12  features_bedrooms         69588 non-null  int64
 13  features_bathrooms        69588 non-null  int64
 14  features_suites           69588 non-null  int64
 15  features_parkingSpaces    69588 non-null  int64
 16  features_usableAreas      69588 non-null  object
 17  features_totalAreas       69588 non-null  object
 18  features_floors           69588 non-null  int64
 19  features_unitsOnTheFloor  69588 non-null  int64
 20  features_unitFloor        69588 non-null  int64
dtypes: float64(2), int64(7), object(12)
memory usage: 11.7+ MB

##### Our index is incorrect, we'll fix this problem

In [17]:
data_houses.reset_index(drop=True, inplace=True)
data_houses.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69588 entries, 0 to 69587
Columns: 21 entries, customerID to features_unitFloor
dtypes: float64(2), int64(7), object(12)
memory usage: 11.1+ MB

In [19]:
# change variables types
data_houses = data_houses.astype({
    'prices_price':'float64',
    'prices_tax_iptu':'float64',
    'prices_tax_condo':'float64',
    'features_usableAreas':'int64',
    'features_totalAreas':'int64'
})

data_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69588 entries, 0 to 69587
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customerID                69588 non-null  object
 1   source                    69588 non-null  object
 2   types_unit                69588 non-null  object
 3   types_usage               69588 non-null  object
 4   address_city              69588 non-null  object
 5   address_location_lon      69449 non-null  float64
 6   address_location_lat      69449 non-null  float64
 7   address_zone              69588 non-null  object
 8   address_neighborhood      69588 non-null  object
 9   prices_price              69588 non-null  float64
 10  prices_tax_iptu           60863 non-null  float64
 11  prices_tax_condo          63527 non-null  float64
 12  features_bedrooms         69588 non-null  int64
 13  features_bathrooms        69588 non-null  int64
 14  features_suites           69588 non-null  int64
 15  features_parkingSpaces    69588 non-null  int64
 16  features_usableAreas      69588 non-null  int64
 17  features_totalAreas       69588 non-null  int64
 18  features_floors           69588 non-null  int64
 19  features_unitsOnTheFloor  69588 non-null  int64
 20  features_unitFloor        69588 non-null  int64
dtypes: float64(5), int64(9), object(7)
memory usage: 11.1+ MB

In [1]:
print('test')

test

In [2]:
+2+

SyntaxError: invalid syntax (3578720391.py, line 1)

In [3]:
2+2

4